In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
# Store filepath in a variable
Moon_file = "Resources/MoonAccidents.csv"

In [3]:
# Read our Data file with the pandas library
Moon_file_df = pd.read_csv(Moon_file, encoding="ISO-8859-1")

In [4]:
Moon_file_df.head()

,Unnamed: 0,Accident_Severity,Number_of_Casualties,Date,Time,Phase
0,0,Serious,1.0,04-01-2005,17:42,Third Quarter
1,1,Light,1.0,04-01-2005,18:48,Third Quarter
2,2,Light,1.0,04-01-2005,18:45,Third Quarter
3,3,Light,1.0,04-01-2005,19:00,Third Quarter
4,4,Light,1.0,04-01-2005,19:05,Third Quarter